
/* customer dashbaord navbar css */
.cust_navbar {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #e5e7eb;
}

.cust_logo {
  font-size: 20px;
  font-weight: 700;
  color: #22c55e;
}

.cust_navLinks {
  display: flex;
  gap: 25px;
}

.cust_navLinks a {
  text-decoration: none;
  color: #64748b;
  font-weight: 500;
  padding-bottom: 6px;
}

.cust_navLinks a.active {
  color: #0f172a;
  border-bottom: 2px solid #22c55e;
}

.cust_navRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.cust_bell {
  font-size: 18px;
  cursor: pointer;
}

.cust_avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
