/* Provider List Component css */

.findProvidersPage {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f7faf7;
}

/* LEFT FILTER */
.filterPanel {
  width: 260px;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}

.filterGroup {
  margin-bottom: 20px;
}

.filterGroup label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.filterGroup input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.checkMint input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #2e9f36; /* tick + background */
}
.customCheck::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 6px;
  border: solid white;      /* <-- tick color */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.checkMint input:checked + .customCheck::after {
  opacity: 1;
}


.resetBtn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #5cff2e;
  background: #fff;
  color: #2ecc71;
  cursor: pointer;
}

/* RIGHT */
.providerSection {
  flex: 1;
}

.providerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.providerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.providerCard {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

.providerImage {
  position: relative;
  height: 180px;
}

.providerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #5cff2e;
  color: #000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.providerBody {
  padding: 14px;
}

.providerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #2ecc71;
  font-weight: 600;
}

.rating {
  font-size: 13px;
  color: #777;
  margin: 6px 0;
}

.providerDesc {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.viewProfileBtn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #5cff2e;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
