
/* pet profile */
.photoSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.photoSection img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.photoDisplay{
  margin: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 2px dotted gray;
}
.profile-cta{
  margin: 0.4rem;
  display: flex;
  gap: 10px;
}

.profile-cta button,
.profile-cta label{
   color: white;
  font-weight: 600;
  border: none;
  padding: 8px;
}
.profile-cta .upload-btn{
  background-color: #5cff2e; 
}
.profile-cta .remove-btn{
  background-color: red;
}
.jobFormCard {
  width: 360px;
  background: #ffffff;
  padding: 24px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  font-family: system-ui, sans-serif;
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.plusIcon {
  background: #5cff2e;
  color: #000;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Form groups */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.ageGroup{
  margin-bottom: 16px;
  display: flex ;
  justify-content: space-between;
}
.formGroup h4{
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.timeslot{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.formGroup label {
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
  font-weight: 500;
}

.formGroup input,
.formGroup select {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1.5px solid #e5f5df;
  font-size: 14px;
  outline: none;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #5cff2e;
}
.formGroup .textarea{
  padding: 0.4rem;
  outline: none;
}
.requiredField{
  color: red;
}


/* Services */
.serviceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.serviceBtn {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #e5f5df;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.serviceBtn:hover {
  border-color: #5cff2e;
}

.serviceBtn.active {
  background: #eaffdf;
  border-color: #5cff2e;
  color: #2d7a00;
  font-weight: 500;
}

/* Submit */
.submitBtn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #5cff2e;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submitBtn:hover {
  background: #4be620;
}
