/* ===== NAVBAR ROOT ===== */

.cust_navbar {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.03);
}

/* ===== LOGO ===== */

.cust_logo {
  font-size: 22px;
  font-weight: 700;
  color: #1ea54c;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ===== NAV LINKS ===== */

.cust_navLinks {
  display: flex;
  gap: 32px;
}

.cust_navLinks a {
  text-decoration: none;
  color: #5a5a5a;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.cust_navLinks a.active {
  background: #1ea54c;
  color: white;
}

.cust_navLinks a:hover {
  background: #d3d3d382;
  color: #1ea54c;
  box-shadow: inset 0 0 10px rgba(234, 234, 234, 0.532);
}

/* ===== RIGHT SIDE ===== */

.cust_navRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.cust_bell {
  background: #f3f6f4;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.cust_avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.logoutBtn button{
  background-color: none;
  transition: .2s ease;
}
.logoutBtn button:hover{
  background-color: #1ea54c;
  color: white;

}